<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Wide Flange Steel Members Calculator</title>
    <link
      href="static/responsive_design.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <form action="/" method="POST">
      <div class="row">
        <div class="col-1">
          <label class="space" for="member_dropdown">Selected Member: </label>
          <select id="member_dropdown" name="member_dropdown">
            {% for member in member_list %}
            <option id="{{member}}" value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>
        </div>

        <script>
          document.getElementById("member_dropdown").onchange = function () {
            localStorage.setItem(
              "selectedItem",
              document.getElementById("member_dropdown").value
            );
            this.form.submit();
          };

          if (localStorage.getItem("selectedItem")) {
            document.getElementById("member_dropdown").options[
              localStorage.getItem("selectedItem")
            ].selected = true;
          }
        </script>

        <div class="header1 col-5">
          <h1>Wide Flange Steel Members Calculator</h1>
        </div>
        <div class="col-1">
          <label class="member member_space">{{member}}</label> <br />
          <label class="user_input-label" for="Fy">F<sub>y</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Fy"
            value="{{'%g'%(Fy)}}"
            name="Fy"
          />
          <label class="unit"> ksi</label> <br />

          <label class="user_input-label" for="E">E : </label>
          <input
            class="user_input"
            type="text"
            id="E"
            value="{{'%g'%(E)}}"
            name="E"
          />
          <label class="unit"> ksi</label> <br />

          <label class="user_input-label" for="Lcx">L<sub>cx</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Lcx"
            value="{{'%g'%(Lcx)}}"
            name="Lcx"
          />
          <label class="unit"> in</label> <br />

          <label class="user_input-label" for="Lcy">L<sub>cy</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Lcy"
            value="{{'%g'%(Lcy)}}"
            name="Lcy"
          />
          <label class="unit"> in</label>
        </div>
      </div>

      <div class="row">
        <div class="header2 col-7 space">
          <h2>Section Properties</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-1">
          <label class="A-label" for="A">A : </label>
          <input
            class="A"
            type="text"
            name="A"
            value="{{'%.1f'%(A)}}"
            readonly
          />
          <label class="unit" type="text">in<sup>2</sup></label>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <label class="rxry-label" for="rx">r<sub>x</sub> : </label>
          <input
            class="rxry"
            type="text"
            name="rx"
            value="{{'%.1f'%(rx)}}"
            readonly
          />
          <label class="unit" type="text">in</label> <br />

          <label class="rxry-label" for="ry">r<sub>y</sub> : </label>
          <input
            class="rxry"
            type="text"
            name="ry"
            value="{{'%.1f'%(ry)}}"
            readonly
          />
          <label class="unit" type="text">in</label>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <label class="bfh-label" for="bf2tf"
            >b<sub>f</sub>/2t<sub>f</sub> :
          </label>
          <input
            class="bfh"
            type="text"
            name="bf2tf"
            value="{{'%.1f'%(bf2tf)}}"
            readonly
          />
          <br />

          <label class="bfh-label" for="htw">h/t<sub>w</sub> : </label>
          <input
            class="bfh"
            type="text"
            name="htw"
            value="{{'%.1f'%(htw)}}"
            readonly
          />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="header2 col-7 space">
          <h2>Flange and Web Slenderness</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-1">
          <label class="space div_flange">Flange</label> <br />
          <label class="flange-label" for="bf2tf"
            >b<sub>f</sub>/2t<sub>f</sub> :
          </label>
          <input
            class="flange"
            type="text"
            name="bf2tf"
            value="{{'%.1f'%(bf2tf)}}"
            readonly
          /><br />
          <label class="flange-label" for="lambdar_flange"
            >&lambda;<sub>r</sub> :
          </label>
          <input
            class="flange"
            type="text"
            name="lambdar_flange"
            value="{{'%.1f'%(lambdar_flange)}}"
            readonly
          /><br />
          <label class="flange-label blank" for="flange_slenderness">1</label>
          <input
            class="flange_slenderness"
            type="text"
            name="flange_slenderness"
            value="{{flange_slenderness}}"
            readonly
          />
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <label class="space div_web">Web</label>
          <br />
          <label class="web-label" for="htw">h/t<sub>w</sub> : </label>
          <input
            class="web"
            type="text"
            name="htw"
            value="{{'%.1f'%(htw)}}"
            readonly
          />
          <br />
          <label class="web-label" for="lambdar_web"
            >&lambda;<sub>r</sub> :
          </label>
          <input
            class="web"
            type="text"
            name="lambdar_web"
            value="{{'%.1f'%(lambdar_web)}}"
            readonly
          />
          <br />
          <label class="web-label blank" for="web_slenderness">1</label>
          <input
            class="web_slenderness"
            type="text"
            name="web_slenderness"
            value="{{web_slenderness}}"
            readonly
          />
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="header2 col-7 space">
          <h2>Axial Strength (Flexural Buckling)</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-1">
          <label class="L-label" for="Lcxrx"
            >L<sub>cx</sub>/r<sub>x</sub> :
          </label>
          <input
            class="L"
            type="text"
            name="Lcxrx"
            value="{{'%.1f'%(Lcxrx)}}"
            readonly
          />
          <br />
          <label class="L-label" for="Lcyry"
            >L<sub>cy</sub>/r<sub>y</sub> :
          </label>
          <input
            class="L"
            type="text"
            name="Lcyry"
            value="{{'%.1f'%(Lcyry)}}"
            readonly
          />
          <br />
          <label class="L-label" for="lcr">L<sub>c</sub>/r : </label>
          <input
            class="L"
            type="text"
            name="lcr"
            value="{{'%.1f'%(Lcr)}}"
            readonly
          />
          <br />
          <label class="L-label blank" for="axis_control">1</label>
          <input
            class="axis_control"
            type="text"
            name="axis_control"
            value="{{controlling_axis}}"
            readonly
          />
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <label class="F-label" for="Fe">F<sub>e</sub> : </label>
          <input
            class="F"
            type="text"
            name="Fe"
            value="{{'%.1f'%(Fe)}}"
            readonly
          />
          <label class="unit">ksi</label> <br />
          <label class="F-label" for="Fcr1">F<sub>cr</sub> : </label>
          <input
            class="F"
            type="text"
            name="Fcr1"
            value="{{'%.1f'%(Fcr1)}}"
            readonly
          />
          <label class="unit">ksi</label> <br />
          <label class="F-label" for="Fcr2">F<sub>cr</sub> : </label>
          <input
            class="F"
            type="text"
            name="Fcr2"
            value="{{'%.1f'%(Fcr2)}}"
            readonly
          />
          <label class="unit">ksi</label>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <label class="buckling-label blank" for="buckling_elasticity"
            >1</label
          >
          <input
            class="buckling_elasticity"
            type="text"
            name="buckling_elasticity"
            value="{{buckling_method}}"
            readonly
          />
          <br />
          <label class="buckling-label" for="Fcr">F<sub>cr</sub> : </label>
          <input
            class="buckling"
            type="text"
            name="Fcr"
            value="{{'%.1f'%(Fcr3)}}"
            readonly
          />
          <label class="unit">ksi</label> <br />
          <label class="buckling-label" for="Pn">P<sub>n</sub> : </label>
          <input
            class="buckling"
            type="text"
            name="Pn"
            value="{{'%.1f'%(Pn)}}"
            readonly
          />
          <label class="unit">kips</label> <br />
          <label class="buckling-label" for="phiPn"
            >&phi;P<sub>n</sub> :
          </label>
          <input
            class="buckling"
            type="text"
            name="phiPn"
            value="{{'%.1f'%(phiPn)}}"
            readonly
          />
          <label class="unit">kips</label>
        </div>
        <div class="col-1"></div>
      </div>
    </form>
  </body>
</html>
