/* Overall Formatting */

body {
  background-color: #8a8888;
  margin: 20px;
  text-align: center;
}

h1 {
  position: absolute;
}

h2 {
  text-align: left;
}

hr {
  width: 1770px;
}

label.unit {
  display: inline-block;
}

/* Flange Dropdown Formatting */

div.members {
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 200px;
  padding: 5px;
  border: 2px solid black;
  width: 230px;
}

/* User Inputs Formatting */

fieldset.user_input {
  position: absolute;
  border: 2px solid black;
  padding: 4px 20px;
  width: 250px;
  top: 25px;
  left: 1450px;
}

label.member {
  display: inline-block;
  text-align: center;
  width: 30px;
  margin-right: 15px;
  font-weight: 550;
}

label.user_input {
  display: inline-block;
  width: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
  text-align: right;
}

br.E {
  display: block;
  content: "";
  margin-bottom: 3px;
}

label.input_unit {
  display: inline-block;
  padding-right: 5px;
}

/* Section Properties Overall Formatting */

div.section {
  position: absolute;
  top: 150px;
  left: 75px;
}

fieldset.section {
  text-align: left;
  padding: 4px 30px;
  border: none;
}

/* Section Properties Input Formatting */

div.A {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 190px;
  width: 240px;
}

label.A {
  display: inline-block;
  width: 30px;
  text-align: right;
}

div.rxry {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 235px;
  width: 240px;
}

label.rxry {
  display: inline-block;
  width: 35px;
  text-align: right;
}

div.bfh {
  vertical-align: top;
  display: inline-block;
  padding: 4px 30px;
  margin-left: 205px;
  width: 240px;
}

label.bfh {
  display: inline-block;
  width: 60px;
  text-align: right;
}

/* Flange and Web Slenderness Overall Formatting */

div.flange_web {
  position: absolute;
  top: 345px;
  left: 75px;
}

fieldset.flange {
  text-align: left;
  padding: 4px 30px;
  border: none;
}

/* Flange and Web Slenderness Input Formatting*/

div.flange {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 450px;
  width: 240px;
}

label.flange {
  display: inline-block;
  width: 60px;
  text-align: right;
}

div.web {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 185px;
  width: 240px;
}

label.web {
  display: inline-block;
  width: 60px;
  text-align: right;
}

input.flange_slenderness,
input.web_slenderness {
  width: 165px;
  margin-left: 65px;
  background-color: rgb(207, 207, 207);
  border: none;
  text-align: center;
  font-weight: bold;
}

label.div_flange {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  left: 625px;
}

label.div_web {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  left: 1100px;
}

/* Axial Strength Overall Formatting */

div.axial {
  position: absolute;
  top: 565px;
  left: 75px;
}

fieldset.axial {
  text-align: left;
  padding: 4px 30px;
  border: none;
}

/* Axial Strength Input Formatting */

div.L {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 170px;
  width: 240px;
}

label.L {
  display: inline-block;
  width: 50px;
  text-align: right;
}

div.F {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 260px;
  width: 240px;
}

label.F {
  display: inline-block;
  width: 30px;
  text-align: right;
}

div.buckling {
  vertical-align: top;
  display: inline-block;
  padding: 4px 20px;
  margin-left: 230px;
  width: 250px;
}

label.buckling {
  display: inline-block;
  width: 40px;
  text-align: right;
}

input.axis_control {
  width: 164.5px;
  margin-left: 55px;
  background-color: rgb(207, 207, 207);
  border: none;
  text-align: center;
  font-weight: bold;
}

input.buckling_elasticity {
  width: 166px;
  text-align: center;
  margin-left: 44px;
  margin-bottom: 3px;
  background-color: rgb(207, 207, 207);
  border: none;
  text-align: center;
  font-weight: bold;
}
